@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,600,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-xl-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-xl-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-xl-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-xl-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-xl-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-xl-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-xl-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-xl-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-xl-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-xl-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-xl-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-xl-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-xl-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-xl-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-xl-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-xl-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-xl-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-xl-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-xl-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-xl-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-xl-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-xl-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-xl-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-xl-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1230px) {
  .container {
    min-width: 1200px !important; } }

body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 92px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header .container {
    position: relative;
    overflow: hidden; }
    #header .container .logo {
      position: absolute;
      top: 0;
      left: 50%;
      width: 60px;
      height: 60px;
      font-size: 0;
      z-index: 1;
      margin: 15px 0;
      margin-left: -30px; }
      #header .container .logo a {
        display: block; }
    #header .container .btn {
      width: 30px;
      height: 30px;
      color: #fff;
      border: 0;
      padding: 0;
      border-radius: 0;
      margin: 30px 0 31px;
      background: none; }
      #header .container .btn.btn-nav, #header .container .btn.btn-sitemap {
        /*float: left;*/ }
      #header .container .btn.search-open {
        position: relative;
        z-index: 102;
        /*float: right;*/ }
      #header .container .btn.btn-sitemap {
        position: relative;
        z-index: 102;
        display: none;
        padding-top: 6px; }
    #header .container .site-map {
      float: left; }
    #header .container .global-search {
      float: right; }
      #header .container .global-search .search-open i.icon-search {
        display: block; }
      #header .container .global-search .search-open i.icon-cancel {
        display: none; }
      #header .container .global-search .search-open.search-close i.icon-search {
        display: none; }
      #header .container .global-search .search-open.search-close i.icon-cancel {
        display: block; }
      #header .container .global-search .form-group {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 101;
        padding-left: 50%;
        padding-right: 40px;
        width: 100%;
        max-width: 1200px;
        text-align: right;
        margin: 30px auto 31px; }
        #header .container .global-search .form-group .form-control {
          position: relative;
          width: 100%;
          height: 30px;
          border: 1px solid #fff;
          border-radius: 0;
          padding-right: 35px;
          display: inline-block; }
        #header .container .global-search .form-group .btn-search {
          position: absolute;
          top: 0;
          right: 40px;
          margin: 0;
          color: #3e6dc2; }
  @media (min-width: 768px) {
    #header .container .global-search .form-group {
      padding-left: 65%;
      padding-right: 50px; }
      #header .container .global-search .form-group .btn-search {
        right: 50px; } }
  @media (min-width: 992px) {
    #header {
      height: 163px; }
      #header .container .logo {
        width: 112px;
        margin: 25px 0;
        margin-left: -65px; }
      #header .container .btn {
        margin: 66px 0; }
        #header .container .btn.btn-sitemap {
          display: block; }
        #header .container .btn.btn-nav {
          display: none; }
      #header .container .global-search .form-group {
        padding-left: 75%;
        margin: 66px 0; }
      #header .container #gnb {
        text-align: center; }
        #header .container #gnb > ul {
          font-size: 0;
          height: 0;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #header .container #gnb > ul > li {
            display: inline-block;
            overflow: hidden;
            vertical-align: top !important; }
            #header .container #gnb > ul > li > a {
              position: relative;
              margin: 67px 35px 0;
              padding-bottom: 68px;
              font-size: 18px;
              color: #fff;
              display: inline-block;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
              #header .container #gnb > ul > li > a > span {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 4px;
                background-color: #fff;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
            #header .container #gnb > ul > li.active > a > span {
              width: 100%;
              margin-left: -50%; }
            #header .container #gnb > ul > li:nth-of-type(2) {
              padding-right: 140px; }
            #header .container #gnb > ul > li:nth-of-type(3) {
              padding-left: 140px; }
            #header .container #gnb > ul > li > ul {
              display: none;
              text-align: center;
              padding: 24px 0 50px; }
              #header .container #gnb > ul > li > ul > li > a {
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                color: rgba(255, 255, 255, 0.8);
                line-height: 30px;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
                #header .container #gnb > ul > li > ul > li > a:hover {
                  color: #fff; } }

#header.gnb-open {
  /*height: 374px !important;*/
  height: 464px !important;
  border-bottom: 1px solid #353d47;
  background-color: rgba(0, 0, 0, 0.7); }
  #header.gnb-open:after {
    position: absolute;
    top: 120px;
    left: 0;
    display: block;
    width: 100%;
    z-index: -1;
    content: "";
    border-bottom: 1px solid #353d47; }
  #header.gnb-open .container {
    overflow: visible !important; }
  #header.gnb-open .logo {
    margin-top: 25px;
    margin-left: -54px;
    z-index: 1; }
    #header.gnb-open .logo > a > img {
      width: 86px; }
  #header.gnb-open .btn {
    margin: 66px 0 0; }
  #header.gnb-open #gnb > ul > li {
    position: relative;
    /*height: 374px;*/
    height: 464px;
    overflow: visible; }
    #header.gnb-open #gnb > ul > li > a {
      margin-bottom: 0;
      padding-bottom: 26px; }
    #header.gnb-open #gnb > ul > li > ul {
      display: block; }

.scrolled .quick-top {
  opacity: 1; }
.scrolled #header {
  background-color: rgba(0, 0, 0, 0.7); }
  .scrolled #header .container {
    overflow: hidden; }
@media (min-width: 992px) {
  .scrolled #header {
    height: 120px;
    border-bottom: 0; }
    .scrolled #header .logo {
      margin-top: 25px;
      margin-left: -54px;
      z-index: 1; }
      .scrolled #header .logo > a > img {
        width: 86px; }
  .scrolled #gnb > ul > li {
    position: relative;
    /*height: 374px;*/
    height: 464px;
    overflow: visible; }
    .scrolled #gnb > ul > li > a {
      margin-bottom: 0 !important;
      padding-bottom: 26px !important; }
    .scrolled #gnb > ul > li > ul {
      display: block; } }

#gnb-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 0;
  z-index: 100;
  /* z-index 100 */
  height: 100%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #gnb-nav .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* z-index 1 */
    display: none;
    background-color: rgba(0, 0, 0, 0.7); }
  #gnb-nav .gnb-wrap {
    position: relative;
    width: 230px;
    height: 100%;
    z-index: 2;
    overflow: auto;
    padding-bottom: 80px;
    background-color: #fff; }
    #gnb-nav .gnb-wrap .gnb-head {
      padding: 19px 20px;
      background-color: #3e6dc2;
      background-image: url(/assets/images/bg_gnb_top.jpg);
      background-repeat: no-repeat;
      background-position: 100% 100%; }
      #gnb-nav .gnb-wrap .gnb-head > h2 {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        line-height: 19px;
        font-family: 'Noto Serif KR', sans-serif; }
        #gnb-nav .gnb-wrap .gnb-head > h2 small {
          font-weight: 400;
          display: block;
          line-height: 19px; }
    #gnb-nav .gnb-wrap .gnb-body > ul > li > a {
      display: block;
      font-size: 16px;
      color: #333;
      font-weight: 400;
      line-height: 52px;
      padding: 0 20px;
      border-bottom: 1px solid #e0e0e0; }
      #gnb-nav .gnb-wrap .gnb-body > ul > li > a:after {
        float: right;
        content: url(/assets/images/icon_up.jpg); }
    #gnb-nav .gnb-wrap .gnb-body > ul > li > ul {
      display: none;
      padding: 20px;
      border-bottom: 1px solid #e0e0e0;
      background-color: #f5f5f5; }
      #gnb-nav .gnb-wrap .gnb-body > ul > li > ul > li > a {
        display: block;
        font-size: 14px;
        color: #666;
        font-weight: 400;
        line-height: 25px; }
      #gnb-nav .gnb-wrap .gnb-body > ul > li > ul > li.on a {
        color: #3e6dc2; }
    #gnb-nav .gnb-wrap .gnb-body > ul > li.active > a {
      color: #3e6dc2; }
    #gnb-nav .gnb-wrap .gnb-body > ul > li.active > ul {
      display: block; }
    #gnb-nav .gnb-wrap .gnb-body .btn-area {
      padding: 20px;
      padding-bottom: 0; }
      #gnb-nav .gnb-wrap .gnb-body .btn-area p .gnb-close {
        width: 100%;
        font-size: 14px;
        color: #fff;
        border: 0;
        padding: 0;
        border-radius: 0;
        text-align: center;
        line-height: 40px;
        background-color: #7f8389; }

.opened {
  overflow: hidden; }
  .opened #gnb-nav {
    overflow: visible;
    left: 0;
    width: 100%; }
    .opened #gnb-nav .backdrop {
      display: block; }

#footer {
  padding: 40px 0 60px;
  text-align: center;
  background-color: #29303b; }
  #footer .foot-nav > ul {
    font-size: 0; }
    #footer .foot-nav > ul > li {
      display: inline-block;
      vertical-align: top; }
      #footer .foot-nav > ul > li a {
        font-size: 13px;
        color: #94989d;
        font-weight: 400;
        line-height: 20px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        #footer .foot-nav > ul > li a:hover {
          color: #fff; }
      #footer .foot-nav > ul > li:after {
        position: relative;
        top: -1px;
        font-size: 10px;
        content: "|";
        color: #545962;
        margin: 0 10px; }
      #footer .foot-nav > ul > li:last-child:after {
        content: "";
        margin: 0; }
  #footer .information {
    margin-top: 15px; }
    #footer .information > ul > li {
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      margin-right: 10px;
      word-break: keep-all;
      color: rgba(255, 255, 255, 0.6); }
      #footer .information > ul > li:last-child {
        margin-right: 0; }
      #footer .information > ul > li a {
        color: inherit; }
  #footer .copyright {
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 15px; }
    #footer .copyright a {
      display: block;
      color: rgba(255, 255, 255, 0.25); }
  @media (min-width: 768px) {
    #footer {
      padding: 50px 0 100px;
      text-align: left; }
      #footer h2 {
        font-size: 0; }
        #footer h2 img {
          display: block;
          width: 100px; }
      #footer .foot-nav > ul > li a {
        font-size: 15px; }
      #footer .foot-nav > ul > li:after {
        margin: 0 15px; }
      #footer .information {
        margin-top: 30px; }
        #footer .information > ul > li {
          font-size: 14px;
          line-height: 24px; }
      #footer .copyright {
        font-size: 13px; }
        #footer .copyright a {
          display: inline-block; } }
  @media (min-width: 1230px) {
    #footer h2 img {
      width: auto; }
    #footer .col-md-9 {
      padding-left: 45px; } }

.quick-top {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 1;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .quick-top > .btn-top {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border: 0;
    border-radius: 50%;
    background-color: #3e6dc2; }
    .quick-top > .btn-top:hover, .quick-top > .btn-top:focus {
      color: #fff; }
  @media (min-width: 1430px) {
    .quick-top {
      width: 1400px;
      margin-right: -700px;
      right: 50%; }
      .quick-top > .btn-top {
        float: right;
        width: 60px;
        height: 60px;
        font-size: 16px;
        padding: 14px 0; } }

/*# sourceMappingURL=default.css.map */
