@import 'common';

.introduction {
    .page-header {
        background-image: url(/assets/images/introduction/bg_page_header.jpg);
    }
}

// 조직도
.group {
    .section-content {
        padding: 40px 0;
        background-color: #f2f2f2;
        figure {
            padding: 0 15px;
            .img-fluid {
                display: block;
                margin: 0 auto;
            }
        }
    }
    @media(min-width: $lg) {
        .section-content {
            padding: 60px 0;
            figure {
                padding: 0;
            }
        }
    }
}

// 오시는길
.location {
    .section-content {
        .maps {
            width: 100%;
            .wrap_map {
                height: 340px;
            }
        }
        .location-info {
            margin-top: 30px;
            ul {
                > li {
                    > dl {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        > dt {
                            width: 70px;
                            font-size: 12px;
                            color: #333;
                            line-height: 20px;
                            font-weight: 400;
                            display: table-cell;
                            vertical-align: top;
                        }
                        > dd {
                            font-size: 12px;
                            color: #666;
                            line-height: 20px;
                            font-weight: 400;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .btn-area {
                text-align: center;
                font-size: 0;
                margin-top: 20px;
                .btn {
                    border-radius: 0;
                    padding: 0;
                    height: 40px;
                    line-height: 38px;
                    width: 49.5%;
                    font-size: 14px;
                    display: inline-block;
                    margin-left: 1%;
                    &:first-child {
                        margin-right: 0;
                    }
                    img {
                        margin-right: 15px;
                    }
                    &.btn-blue {
                        color: #fff;
                        border: 1px solid #3e6dc2;
                        background-color: #3e6dc2;
                    }
                    &.btn-white {
                        display: none;
                        color: #3e6dc2;
                        border: 1px solid #3e6dc2;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .section-content {
            .maps {
                .wrap_map {
                    height: 400px;
                }
            }
            .location-info {
                margin-top: 45px;
                ul {
                    > li {
                        > dl {
                            > dt {
                                width: 80px;
                                font-size: 14px;
                                line-height: 30px;
                            }
                            > dd {
                                font-size: 14px;
                                line-height: 30px;
                            }
                        }
                    }
                }
                .btn-area {
                    margin-top: 30px;
                    .btn {
                        font-size: 16px;
                        height: 50px;
                        line-height: 48px;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .section-content {
            .location-info {
                margin-top: 35px;
                .btn-area {
                    text-align: right;
                    margin-top: 0;
                    .btn {
                        width: 160px;
                        font-size: 16px;
                        height: 65px;
                        line-height: 63px;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .section-content {
            .location-info {
                .btn-area {
                    .btn {
                        &.btn-white {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

// history
.history-intro {
    text-align: center;
    margin-bottom: 20px;
    small {
        font-size: 16px;
        color: #3e6dc2;
        @include noto-sr();
    }
    h5 {
        font-size: 20px;
        color: #29303b;
        margin-top: 10px;
        font-weight: 300;
        strong {
            font-weight: bold;
            &.blue {
                color: #3e6dc2;
            }
        }
    }
    p {
        font-size: 13px;
        color: #666;
        line-height: 20px;
        margin-top: 15px;
        word-break: keep-all;
    }
    @media(min-width: $md) {
        small {
            
        }
        h5 {
            
        }
        p {
            
        }
    }
    @media(min-width: $lg) {
        text-align: left;
        small {
            font-size: 20px;
        }
        h5 {
            font-size: 32px;
        }
        p {
            font-size: 15px;
            line-height: 26px;
            letter-spacing: -.5px;
        }
    }
    @media(min-width: $xl) {
        figure {
            right: -15px;
            .img-fluid {
                width: auto;
            }
        }
    }
}
.history {
    .section-content {
        position: relative;
        min-height: 600px;
        figure {
            display: none;
        }
        @media(min-width: $lg) {
            figure {
                position: absolute;
                top: 20px;
                right: 0;
                display: block;
                img {
                    width: 400px;
                }
            }
        }
        @media(min-width: 1200px) {
            figure {
                right: -15px;
                top: 60px;
                img {
                    width: 310px;
                }
            }
        }
        @media(min-width: $xl) {
            figure {
                top: 15px;
                img {
                    width: auto;
                }
            }
        }
    }
}

// greeting
.greeting {
    .section-content {
        position: relative;
        figure {
            display: none;
        }
        small {
            font-size: 15px;
            color: #3e6dc2;
            @include noto-sr();
        }
        h5 {
            color: #29303b;
            font-size: 20px;
            letter-spacing: -.5px;
            font-weight: 300;
            margin: 10px 0 15px;
            strong {
                font-weight: bold;
                &.blue {
                    color: #3e6dc2;
                }
            }
        }
        p {
            font-size: 13px;
            color: #666;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -.5px;
            word-break: keep-all;
            i {
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                color: #888;
            }
            span {
                color: #3e6dc2;
                text-decoration: underline;
            }
        }
        dl {
            overflow: hidden;
            margin-top: 20px;
            dt {
                float: left;
                font-size: 15px;
                color: #666;
                margin-top: 7px;
                font-weight: 400;
                margin-right: 10px;
            }
            dd {
                display: inline-block;
                font-size: 20px;
                color: #333;
                font-weight: bold;
            }
        }
    }
    @media(min-width: $md) {
        .section-content {
            small {
                font-size: 17px;
            }
            h5 {
                font-size: 25px;
                margin: 15px 0 20px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                i {
                    font-size: 15px;
                }
            }
            dl {
                margin-top: 30px;
                dt {
                    font-size: 17px;
                }
                dd {
                    font-size: 23px;
                }
            }
        }
    }
    @media(min-width: $lg) {
        .section-content {
            figure {
                position: absolute;
                top: 20px;
                right: 0;
                display: block;
                img {
                    width: 400px;
                }
            }
            small {
                font-size: 20px;
            }
            h5 {
                font-size: 32px;
            }
            p {
                font-size: 15px;
                line-height: 24px;
                i {
                    font-size: 17px;
                }
            }
        }
    }
    @media(min-width: 1200px) {
        .section-content {
            figure {
                right: -15px;
                top: 60px;
                img {
                    width: 310px;
                }
            }
        }
    }
    @media(min-width: $xl) {
        .section-content {
            figure {
                top: 15px;
                img {
                    width: auto;
                }
            }
        }
    }
}

.print-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 30px;
    .locaction-details {
        width: 100%;
        padding: 30px;
        border: 1px solid #ccc;
        border-top: 0;
        > li {
            > dl {
                display: table;
                width: 100%;
                table-layout: fixed;
                > dt {
                    width: 70px;
                    font-size: 12px;
                    color: #333;
                    line-height: 20px;
                    font-weight: 400;
                    display: table-cell;
                    vertical-align: top;
                }
                > dd {
                    font-size: 12px;
                    color: #666;
                    line-height: 20px;
                    font-weight: 400;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        @media(min-width: $md) {
            > li {
                > dl {
                    > dt {
                        width: 80px;
                        font-size: 14px;
                        line-height: 30px;
                    }
                    > dd {
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .btn-area {
        text-align: center;
        font-size: 0;
        margin-top: 20px;
        .btn {
            width: 160px;
            font-size: 16px;
            height: 65px;
            line-height: 63px;
            padding: 0;
            border-radius: 0;
            &:first-child {
                margin-right: 0;
            }
            img {
                margin-right: 15px;
            }
            &.btn-white {
                color: #3e6dc2;
                border: 1px solid #3e6dc2;
            }
        }
    }
}




















