@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,600,700,900&subset=korean");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-xl-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-xl-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-xl-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-xl-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-xl-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-xl-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-xl-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-xl-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-xl-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-xl-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-xl-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-xl-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-xl-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-xl-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-xl-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-xl-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-xl-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-xl-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-xl-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-xl-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-xl-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-xl-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-xl-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-xl-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1230px) {
  .container {
    min-width: 1200px !important; } }

body {
  position: relative;
  min-width: 320px;
  width: 100%;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }
  @media (min-width: 1230px) {
    body {
      font-size: 14px; } }

.introduction .page-header {
  background-image: url(/assets/images/introduction/bg_page_header.jpg); }

.group .section-content {
  padding: 40px 0;
  background-color: #f2f2f2; }
  .group .section-content figure {
    padding: 0 15px; }
    .group .section-content figure .img-fluid {
      display: block;
      margin: 0 auto; }
@media (min-width: 992px) {
  .group .section-content {
    padding: 60px 0; }
    .group .section-content figure {
      padding: 0; } }

.location .section-content .maps {
  width: 100%; }
  .location .section-content .maps .wrap_map {
    height: 340px; }
.location .section-content .location-info {
  margin-top: 30px; }
  .location .section-content .location-info ul > li > dl {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .location .section-content .location-info ul > li > dl > dt {
      width: 70px;
      font-size: 12px;
      color: #333;
      line-height: 20px;
      font-weight: 400;
      display: table-cell;
      vertical-align: top; }
    .location .section-content .location-info ul > li > dl > dd {
      font-size: 12px;
      color: #666;
      line-height: 20px;
      font-weight: 400;
      display: table-cell;
      vertical-align: middle; }
  .location .section-content .location-info .btn-area {
    text-align: center;
    font-size: 0;
    margin-top: 20px; }
    .location .section-content .location-info .btn-area .btn {
      border-radius: 0;
      padding: 0;
      height: 40px;
      line-height: 38px;
      width: 49.5%;
      font-size: 14px;
      display: inline-block;
      margin-left: 1%; }
      .location .section-content .location-info .btn-area .btn:first-child {
        margin-right: 0; }
      .location .section-content .location-info .btn-area .btn img {
        margin-right: 15px; }
      .location .section-content .location-info .btn-area .btn.btn-blue {
        color: #fff;
        border: 1px solid #3e6dc2;
        background-color: #3e6dc2; }
      .location .section-content .location-info .btn-area .btn.btn-white {
        display: none;
        color: #3e6dc2;
        border: 1px solid #3e6dc2; }
@media (min-width: 768px) {
  .location .section-content .maps .wrap_map {
    height: 400px; }
  .location .section-content .location-info {
    margin-top: 45px; }
    .location .section-content .location-info ul > li > dl > dt {
      width: 80px;
      font-size: 14px;
      line-height: 30px; }
    .location .section-content .location-info ul > li > dl > dd {
      font-size: 14px;
      line-height: 30px; }
    .location .section-content .location-info .btn-area {
      margin-top: 30px; }
      .location .section-content .location-info .btn-area .btn {
        font-size: 16px;
        height: 50px;
        line-height: 48px; } }
@media (min-width: 992px) {
  .location .section-content .location-info {
    margin-top: 35px; }
    .location .section-content .location-info .btn-area {
      text-align: right;
      margin-top: 0; }
      .location .section-content .location-info .btn-area .btn {
        width: 160px;
        font-size: 16px;
        height: 65px;
        line-height: 63px;
        margin-left: 2px; } }
@media (min-width: 1230px) {
  .location .section-content .location-info .btn-area .btn.btn-white {
    display: inline-block; } }

.history-intro {
  text-align: center;
  margin-bottom: 20px; }
  .history-intro small {
    font-size: 16px;
    color: #3e6dc2;
    font-family: 'Noto Serif KR', sans-serif; }
  .history-intro h5 {
    font-size: 20px;
    color: #29303b;
    margin-top: 10px;
    font-weight: 300; }
    .history-intro h5 strong {
      font-weight: bold; }
      .history-intro h5 strong.blue {
        color: #3e6dc2; }
  .history-intro p {
    font-size: 13px;
    color: #666;
    line-height: 20px;
    margin-top: 15px;
    word-break: keep-all; }
  @media (min-width: 992px) {
    .history-intro {
      text-align: left; }
      .history-intro small {
        font-size: 20px; }
      .history-intro h5 {
        font-size: 32px; }
      .history-intro p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -.5px; } }
  @media (min-width: 1230px) {
    .history-intro figure {
      right: -15px; }
      .history-intro figure .img-fluid {
        width: auto; } }

.history .section-content {
  position: relative;
  min-height: 600px; }
  .history .section-content figure {
    display: none; }
  @media (min-width: 992px) {
    .history .section-content figure {
      position: absolute;
      top: 20px;
      right: 0;
      display: block; }
      .history .section-content figure img {
        width: 400px; } }
  @media (min-width: 1200px) {
    .history .section-content figure {
      right: -15px;
      top: 60px; }
      .history .section-content figure img {
        width: 310px; } }
  @media (min-width: 1230px) {
    .history .section-content figure {
      top: 15px; }
      .history .section-content figure img {
        width: auto; } }

.greeting .section-content {
  position: relative; }
  .greeting .section-content figure {
    display: none; }
  .greeting .section-content small {
    font-size: 15px;
    color: #3e6dc2;
    font-family: 'Noto Serif KR', sans-serif; }
  .greeting .section-content h5 {
    color: #29303b;
    font-size: 20px;
    letter-spacing: -.5px;
    font-weight: 300;
    margin: 10px 0 15px; }
    .greeting .section-content h5 strong {
      font-weight: bold; }
      .greeting .section-content h5 strong.blue {
        color: #3e6dc2; }
  .greeting .section-content p {
    font-size: 13px;
    color: #666;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -.5px;
    word-break: keep-all; }
    .greeting .section-content p i {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      color: #888; }
    .greeting .section-content p span {
      color: #3e6dc2;
      text-decoration: underline; }
  .greeting .section-content dl {
    overflow: hidden;
    margin-top: 20px; }
    .greeting .section-content dl dt {
      float: left;
      font-size: 15px;
      color: #666;
      margin-top: 7px;
      font-weight: 400;
      margin-right: 10px; }
    .greeting .section-content dl dd {
      display: inline-block;
      font-size: 20px;
      color: #333;
      font-weight: bold; }
@media (min-width: 768px) {
  .greeting .section-content small {
    font-size: 17px; }
  .greeting .section-content h5 {
    font-size: 25px;
    margin: 15px 0 20px; }
  .greeting .section-content p {
    font-size: 14px;
    line-height: 20px; }
    .greeting .section-content p i {
      font-size: 15px; }
  .greeting .section-content dl {
    margin-top: 30px; }
    .greeting .section-content dl dt {
      font-size: 17px; }
    .greeting .section-content dl dd {
      font-size: 23px; } }
@media (min-width: 992px) {
  .greeting .section-content figure {
    position: absolute;
    top: 20px;
    right: 0;
    display: block; }
    .greeting .section-content figure img {
      width: 400px; }
  .greeting .section-content small {
    font-size: 20px; }
  .greeting .section-content h5 {
    font-size: 32px; }
  .greeting .section-content p {
    font-size: 15px;
    line-height: 24px; }
    .greeting .section-content p i {
      font-size: 17px; } }
@media (min-width: 1200px) {
  .greeting .section-content figure {
    right: -15px;
    top: 60px; }
    .greeting .section-content figure img {
      width: 310px; } }
@media (min-width: 1230px) {
  .greeting .section-content figure {
    top: 15px; }
    .greeting .section-content figure img {
      width: auto; } }

.print-wrap {
  width: 900px;
  margin: 0 auto;
  padding: 30px; }
  .print-wrap .locaction-details {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-top: 0; }
    .print-wrap .locaction-details > li > dl {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .print-wrap .locaction-details > li > dl > dt {
        width: 70px;
        font-size: 12px;
        color: #333;
        line-height: 20px;
        font-weight: 400;
        display: table-cell;
        vertical-align: top; }
      .print-wrap .locaction-details > li > dl > dd {
        font-size: 12px;
        color: #666;
        line-height: 20px;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle; }
    @media (min-width: 768px) {
      .print-wrap .locaction-details > li > dl > dt {
        width: 80px;
        font-size: 14px;
        line-height: 30px; }
      .print-wrap .locaction-details > li > dl > dd {
        font-size: 14px;
        line-height: 30px; } }
  .print-wrap .btn-area {
    text-align: center;
    font-size: 0;
    margin-top: 20px; }
    .print-wrap .btn-area .btn {
      width: 160px;
      font-size: 16px;
      height: 65px;
      line-height: 63px;
      padding: 0;
      border-radius: 0; }
      .print-wrap .btn-area .btn:first-child {
        margin-right: 0; }
      .print-wrap .btn-area .btn img {
        margin-right: 15px; }
      .print-wrap .btn-area .btn.btn-white {
        color: #3e6dc2;
        border: 1px solid #3e6dc2; }

/*# sourceMappingURL=introduction.css.map */
