@import 'common';
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
// 공통
.btn {
    font-size: 12px;
    border: 0;
    padding: 0;
    margin: 0;
    color: inherit;
    border-radius: 0;
    background: none;
    &:hover, &:focus {
        color: inherit;
    }
    @media(min-width: $md) {
        font-size: 14px;
    }
}
.btn-more {
    position: relative;
    left: 0;
    display: inline-block;
    font-weight: 300;
    padding: 0 30px 5px 0;
    border-bottom: 1px solid #fff;
    @include transition();
    &:after {
        position: absolute;
        bottom: 3px;
        right: -1px;
        padding: 0;
        width: 10px;
        height: 1px;
        content: "";
        transform: rotate(50deg);
        background-color: #fff;
    }
    &:hover, &:focus {
        color: inherit;
        left: 20px;
    }
    @media(min-width: $md) {
        padding: 0 64px 10px 0;
        &:after {
            bottom: 4px;
            right: -1px;
            width: 12px;
        }
    }
}
.container-fluid {
    @media(min-width: $xl) {
        width: 1170px;
    }
    @media(min-width: 1430px) {
        width: 1400px;
    }
}



// jumbotron
.jumbotron {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none;
    ul {
        overflow: hidden;
        .slick-slide {
            float: left;
            height: auto;
            outline: none;
            padding: 100px 0 80px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            .product-info {
                position: relative;
                display: table;
                text-align: center;
                width: 100%;
                .details {
                    display: table-cell;
                    width: 100%;
                    color: #fff;
                    vertical-align: top;
                    small {
                        font-size: 14px;
                        font-weight: lighter;
                        letter-spacing: .2px;
                        display: block;
                        color: rgba(#fff, .8);
                    }
                    h4 {
                        font-size: 35px;
                        letter-spacing: -.3px;
                        font-weight: bold;
                        font-style: italic;
                        @include noto-sr();
                    }
                    .btn-area {
                        margin-top: 20px;
                        .btn-more {
                            letter-spacing: -.5px;
                        }
                    }
                    figure {
                        padding: 0 10%;
                        margin-top: 30px;
                        background-image: url(/assets/images/main/bg_figure_xs.png);
                        background-position: 50% 50%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        .img-fluid {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 70px;
            width: 100%;
            height: 14px;
            text-align: center;
            > li {
                display: inline-block;
                outline: none;
                margin: 0 4px;
                button {
                    display: block;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                    text-indent: -99999px;
                    padding: 0;
                    border: 3px solid rgba(255, 255, 255, .5);
                    border-radius: 50%;
                    background: none;
                }
                &.slick-active {
                    button {
                        border-color: #fff;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    > .btn-scroll {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 99;
        width: 100%;
        text-align: center;
        .btn {
            position: relative;
            top: -20px;
            display: inline-block;
            @include transition($duration: .5s);
            img {
                width: 20px;
            }
            &.on {
                top: 0;
            }
        }
    }
    @media(min-width: $md) {
        ul {
            .slick-slide {
                padding: 150px 0 120px;
                .product-info {
                    .details {
                        small {
                            font-size: 22px;
                        }
                        h4 {
                            font-size: 62px;
                        }
                    }
                }
            }
            .slick-dots {
                bottom: 130px;
            }
        }
        > .btn-scroll {
            bottom: 40px;
            .btn {
                img {
                    width: 31px;
                }
            }
        }
    }
    @media(min-width: $lg) {
        height: 100%;
        .slick-slider {
            height: 100%;
        }
        .slick-list {
            height: 100%;
        }
        .slick-track {
            height: 100%;
        }
        ul {
            .slick-slide {
                position: relative;
                height: 100%;
                min-height: 800px;
                padding: 180px 0 130px;
                .product-info {
                    .details {
                        vertical-align: middle;
                        h4 {
                            display: inline-block;
                            margin: 0 auto;
                        }
                        .btn-area {
                            position: relative;
                            top: -10px;
                            display: inline-block;
                            margin: 0 -160px 0 30px;
                        }
                        figure {
                            background-image: url(/assets/images/main/bg_figure_xl.png);
                            background-size: 955px auto;
                            .img-fluid {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

// introduction
.introduction {
    padding-top: 40px;
    .section-header {
        text-align: center;
        h4 {
            font-size: 20px;
            color: #29303b;
            font-weight: 600;
            @include noto-sr();
            small {
                font-size: 14px;
                font-weight: 300;
                display: block;
                margin-bottom: 5px;
                @include noto-ss();
                letter-spacing: -.5px;
            }
        }
        p {
            font-size: 13px;
            color: #666;
            font-weight: 300;
            line-height: 16px;
            margin-top: 10px;
            word-break: keep-all;
            letter-spacing: -.5px;
        }
        .btn-area {
            margin-top: 20px;
            .btn-more {
                font-weight: 400;
                letter-spacing: -.5px;
                color: #3e6dc2;
                border-bottom: 2px solid #3e6dc2;
                border-color: #3e6dc2;
                &:after {
                    bottom: 3px;
                    right: -1px;
                    height: 2px;
                    background-color: #3e6dc2;
                }
            }
        }
    }
    .section-content {
        margin-top: 20px;
        figure {
            padding: 0 10%;
        }
    }
    @media(min-width: $md) {
        padding-top: 60px;
        .section-header {
            h4 {
                font-size: 35px;
                small {
                    font-size: 23px;
                    margin-bottom: 10px;
                }
            }
            p {
                font-size: 17px;
                line-height: 28px;
                margin-top: 10px;
            }
            .btn-area {
                margin-top: 30px;
            }
        }
        .section-content {
            figure {
                padding: 0;
                .img-fluid {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding-top: 90px;
        .section-header {
            h4 {
                font-size: 43px;
            }
        }
    }
    @media(min-width: $xl) {
        overflow: hidden;
        .section-header {
            float: left;
            width: 70%;
            display: inline-block;
            text-align: left;
            padding: 100px;
            border: 2px solid #29303b;
            h4 {
                small {
                    margin-bottom: 20px;
                }
            }
            p {
                margin-top: 20px;
            }
        }
        .section-content {
            position: relative;
            float: right;
            width: 60%;
            margin-top: -260px;
            figure {
                .img-fluid {
                    margin: 0;
                }
            }
        }
    }
}

// product-list
.product-list {
    padding-top: 60px;
    padding-bottom: 60px;
    .section-content {
        position: relative;
        text-align: center;
        h4 {
            font-size: 20px;
            color: #29303b;
            font-weight: 600;
            @include noto-sr();
            small {
                font-size: 14px;
                font-weight: 300;
                display: block;
                margin-bottom: 5px;
            }
        }
        .summary {
            font-size: 13px;
            color: #666;
            font-weight: 300;
            line-height: 16px;
            margin-top: 10px;
            word-break: keep-all;
            letter-spacing: -.5px;
        }
        .product-slide {
            margin: 30px -4px 0;
            .slick-slide {
                height: auto;
                outline: none;
                margin: 0 8px;
                a {
                    position: relative;
                    display: block;
                    border: 1px solid #ddd;
                    @include transition($duration: .25s);
                    
                    /*&:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        opacity: 0;
                        @include transition();
                        border: 4px solid #3e6dc2;
                    }*/
                    &:hover {
                        /*&:after {
                            opacity: 1;
                        }*/
                        border: 4px solid #3e6dc2;
                        figure {
                            figcaption {
                                h4 {
                                    color: #3e6dc2;
                                }
                            }
                        }
                    }
                }
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                    figcaption {
                        text-align: left;
                        padding: 0 10px 15px;
                        h4 {
                            font-size: 13px;
                            font-weight: bold;
                            color: #333;
                            margin-bottom: 5px;
                            @include noto-ss();
                            @include transition();
                        }
                        dl {
                            overflow: hidden;
                            dt {
                                font-size: 11px;
                                color: #888;
                                font-weight: 400;
                                float: left;
                                clear: both;
                                letter-spacing: -.5px;
                                &:after {
                                    font-family: "fontello";
                                    content: "\E806";
                                    margin: 0 5px;
                                }
                            }
                            dd {
                                font-size: 11px;
                                color: #888;
                                font-weight: 400;
                                float: left;
                                letter-spacing: -.5px;
                            }
                        }
                    }
                }
            }
            .btn-slick {
                position: absolute;
                top: -76px;
                &.btn-prev {
                    left: 0;
                }
                &.btn-next {
                    right: 0;
                }
                .btn-controls {
                    outline: none;
                    position: relative;
                    z-index: 2;
                    font-size: 16px;
                    color: #a9acb1;
                    cursor: pointer;
                    border: 0;
                    padding: 0;
                    background: none;
                    @include transition();
                    &:hover {
                        color: #294382;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-top: 60px;
        .section-content {
            h4 {
                font-size: 35px;
                small {
                    font-size: 26px;
                    margin-bottom: 10px;
                }
            }
            .summary {
                font-size: 17px;
                margin-top: 10px;
            }
            .product-list {
                margin-top: 50px;
            }
        }
    }
    @media(min-width: $lg) {
        .section-content {
            .product-slide {
                .slick-slide {
                    figure {
                        figcaption {
                            .more {
                                overflow: hidden;
                                width: 53px;
                                padding: 4px 8px 8px 14px;
                                margin-top: 10px;
                                background-color: #3e6dc2;
                                img {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding-bottom: 90px;
        .section-content {
            .product-slide {
                .slick-slide {
                    figure {
                        figcaption {
                            text-align: left;
                            padding: 0 30px 30px;
                            h4 {
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
                            dl {
                                dt {
                                    font-size: 14px;
                                    &:after {
                                        margin: 0 10px;
                                    }
                                }
                                dd {
                                    font-size: 14px;
                                }
                            }
                            .more {
                                padding: 6px 8px 8px 24px;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .btn-slick {
                    position: absolute;
                    top: 50%;
                    &.btn-prev {
                        left: -80px;
                    }
                    &.btn-next {
                        right: -80px;
                    }
                    .btn-controls {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

// news-list
.news-list {
    border-top: 1px solid #f2f2f2;
    dl {
        padding: 20px 0;
        overflow: hidden;
        background-image: url(/assets/images/main/bg_news_list.png);
        background-repeat: no-repeat;
        background-size: auto 35%;
        background-position: 100% 100%;
        dt {
            float: left;
            padding-right: 10px;
            font-size: 14px;
            color: #333;
            font-weight: 400;
            line-height: 22px;
        }
        dd {
            display: block;
            font-size: 12px;
            line-height: 22px;
            > a {
                &.news-title {
                    display: block;
                    overflow: hidden;
                    font-weight: 400;
                    color: #666;
                    white-space: nowrap;
                    padding-right: 10px;
                    text-overflow: ellipsis;
                    .date {
                        display: inline-block;
                        font-size: 11px;
                        color: #888;
                        font-weight: 300;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        border-top: 0;
        padding: 40px 0;
        background-color: #f2f2f2;
        dl {
            background-size: auto 40%;
            background-position: 70% 100%;
            background-color: #fff;
            dt {
                font-size: 23px;
                font-weight: 300;
                letter-spacing: -.5px;
                line-height: 34px;
                padding: 0 40px 0 20px;
            }
            dd {
                position: relative;
                padding-right: 150px;
                line-height: 34px;
                > a {
                    &.news-title {
                        font-size: 15px;
                        letter-spacing: -.5px;
                        .date {
                            font-size: 14px;
                            letter-spacing: 0;
                        }
                    }
                    &.more {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        line-height: 34px;
                        font-size: 14px;
                        color: #3e6dc2;
                        letter-spacing: -.5px;
                        .icon-more {
                            position: relative;
                            top: 4px;
                            display: inline-block;
                            width: 53px;
                            height: 20px;
                            margin-left: 10px;
                            background-color: #3e6dc2;
                            background-image: url(/assets/images/main/bg_btn_more.jpg);
                            background-size: auto auto;
                            background-repeat: no-repeat;
                            background-position: 22px 50%;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 60px 0;
        background-size: auto 45%;
        background-position: 75% 100%;
        dl {
            padding: 30px 0;
            dt {
                padding: 0 60px 0 40px;
            }
            dd {
                padding-right: 180px;
                > a {
                    &.more {
                        right: 40px;
                    }
                }
            }
        }
    }
}

// quick-menu
.quick-menu {
    padding: 30px 8.66% 40px;
    background-color: #f2f2f2;
    ul {
        > li {
            > a {
                display: block;
                text-align: center;
                .quick-icon {
                    position: relative;
                    display: block;
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    border-radius: 50%;
                    margin: 0 auto;
                    border: 1px solid #bfcce5;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 60% auto;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid #3e6dc2;
                        opacity: 0;
                        @include transition();
                    }
                }
                > .details {
                    h5 {
                        font-size: 14px;
                        font-weight: 400;
                        margin-top: 10px;
                        letter-spacing: -.5px;
                        @include transition();
                    }
                    p {
                        display: none;
                        letter-spacing: -.5px;
                    }
                    .quick-link {
                        position: relative;
                        display: none;
                        padding-bottom: 5px;
                        @include transition();
                        &:after {
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            left: 50%;
                            content: "";
                            border-bottom: 2px solid #3e6dc2;
                            @include transition();
                        }
                    }
                }
                &:hover {
                    .quick-icon {
                        &:after {
                            opacity: 1;
                        }
                    }
                    > .details {
                        h5 {
                            color: #3e6dc2;
                        }
                        .quick-link {
                            color: #3e6dc2;
                            &:after {
                                width: 100%;
                                margin-left: -50%;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(1) {
                > a {
                    .quick-icon {
                        background-image: url(/assets/images/main/icon_quick01.png);
                    }
                }
            }
            &:nth-of-type(2) {
                > a {
                    .quick-icon {
                        background-size: 65% auto;
                        background-image: url(/assets/images/main/icon_quick02.png);
                        @media(min-width: $xl) {
                            background-size: auto auto;
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                > a {
                    .quick-icon {
                        background-image: url(/assets/images/main/icon_quick03.png);
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        text-align: center;
        padding: 0 0 60px;
        ul {
            > li {
                > a {
                    display: inline-block;
                    .quick-icon {
                        width: 120px;
                        height: 120px;
                        background-size: 50% auto;
                    }
                    > .details {
                        h5 {
                            font-size: 18px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        padding-bottom: 80px;
        text-align: left;
        ul {
            > li {
                > a {
                    display: block;
                    overflow: hidden;
                    .quick-icon {
                        float: left;
                        width: 140px;
                        height: 140px;
                        background-size: auto auto;
                        /*line-height: 138px;
                        .img-fluid {
                            transform: none;
                            -ms-transform: none;
                            -webkit-transform: none;
                        }*/
                    }
                    > .details {
                        float: left;
                        padding-top: 15px;
                        padding-left: 35px;
                        text-align: left;
                        h5 {
                            font-size: 23px;
                            margin-top: 0;
                        }
                        p {
                            display: block;
                            font-size: 15px;
                            color: #888;
                            line-height: 22px;
                            margin-top: 15px;
                        }
                        .quick-link {
                            display: inline-block;
                            font-size: 14px;
                            color: #999;
                            letter-spacing: -.5px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        ul {
            > li {
                > a {
                    > figure {
                        
                    }
                }
            }
        }
    }
}

.quick-top {
    .btn {
        padding: 6px 0;
    }
}

















.pro_in a:hover{
    
}
.pro_in a:hover > h5{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}