@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,600,700,900&subset=korean");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button:hover, button:focus {
  box-shadow: none; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-xl-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-xl-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-xl-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-xl-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-xl-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-xl-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-xl-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-xl-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-xl-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-xl-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-xl-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-xl-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-xl-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-xl-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-xl-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-xl-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-xl-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-xl-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-xl-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-xl-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-xl-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-xl-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-xl-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-xl-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-xl-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-xl-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-xl-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-xl-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-xl-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-xl-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-xl-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-xl-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-xl-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-xl-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-xl-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-xl-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-xl-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-xl-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-xl-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-xl-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-xl-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-xl-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-xl-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-xl-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-xl-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-xl-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-xl-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-xl-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1230px) {
  .container {
    min-width: 1200px !important; } }

body {
  position: relative;
  min-width: 320px;
  width: 100%;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif; }
  @media (min-width: 1230px) {
    body {
      font-size: 14px; } }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

.btn {
  font-size: 12px;
  border: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  border-radius: 0;
  background: none; }
  .btn:hover, .btn:focus {
    color: inherit; }
  @media (min-width: 768px) {
    .btn {
      font-size: 14px; } }

.btn-more {
  position: relative;
  left: 0;
  display: inline-block;
  font-weight: 300;
  padding: 0 30px 5px 0;
  border-bottom: 1px solid #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn-more:after {
    position: absolute;
    bottom: 3px;
    right: -1px;
    padding: 0;
    width: 10px;
    height: 1px;
    content: "";
    transform: rotate(50deg);
    background-color: #fff; }
  .btn-more:hover, .btn-more:focus {
    color: inherit;
    left: 20px; }
  @media (min-width: 768px) {
    .btn-more {
      padding: 0 64px 10px 0; }
      .btn-more:after {
        bottom: 4px;
        right: -1px;
        width: 12px; } }

@media (min-width: 1230px) {
  .container-fluid {
    width: 1170px; } }
@media (min-width: 1430px) {
  .container-fluid {
    width: 1400px; } }

.jumbotron {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none; }
  .jumbotron ul {
    overflow: hidden; }
    .jumbotron ul .slick-slide {
      position: relative;
      float: left;
      height: auto;
      outline: none;
      overflow: hidden;
      padding: 100px 0 80px; }
      .jumbotron ul .slick-slide .bg-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 6s;
        transition-duration: 6s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .jumbotron ul .slick-slide .product-info {
        position: relative;
        display: table;
        text-align: center;
        width: 100%; }
        .jumbotron ul .slick-slide .product-info .details {
          display: table-cell;
          width: 100%;
          color: #fff;
          vertical-align: top; }
          .jumbotron ul .slick-slide .product-info .details small {
            position: relative;
            opacity: 0;
            top: -30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
            font-size: 14px;
            font-weight: lighter;
            letter-spacing: .2px;
            display: block;
            color: rgba(255, 255, 255, 0.8); }
          .jumbotron ul .slick-slide .product-info .details h4 {
            position: relative;
            opacity: 0;
            top: -30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
            font-size: 35px;
            letter-spacing: -.3px;
            font-weight: bold;
            font-style: italic;
            font-family: 'Noto Serif KR', sans-serif; }
          .jumbotron ul .slick-slide .product-info .details .btn-area {
            position: relative;
            opacity: 0;
            top: -30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
            margin-top: 20px; }
            .jumbotron ul .slick-slide .product-info .details .btn-area .btn-more {
              letter-spacing: -.5px; }
          .jumbotron ul .slick-slide .product-info .details figure {
            position: relative;
            opacity: 0;
            top: -30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 1.6s;
            transition-delay: 1.6s;
            padding: 0 10%;
            margin-top: 30px;
            background-image: url(/assets/images/main/bg_figure_xs.png);
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat; }
            .jumbotron ul .slick-slide .product-info .details figure .img-fluid {
              display: block;
              margin: 0 auto;
              width: 100%; }
      .jumbotron ul .slick-slide.action .bg-backdrop {
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3); }
      .jumbotron ul .slick-slide.action .product-info .details small {
        opacity: 1;
        top: 0; }
      .jumbotron ul .slick-slide.action .product-info .details h4 {
        opacity: 1;
        top: 0; }
      .jumbotron ul .slick-slide.action .product-info .details .btn-area {
        opacity: 1;
        top: 0; }
      .jumbotron ul .slick-slide.action .product-info .details figure {
        opacity: 1;
        top: 0; }
    .jumbotron ul .slick-dots {
      position: absolute;
      bottom: 70px;
      width: 100%;
      height: 14px;
      text-align: center; }
      .jumbotron ul .slick-dots > li {
        display: inline-block;
        outline: none;
        margin: 0 4px; }
        .jumbotron ul .slick-dots > li button {
          display: block;
          width: 14px;
          height: 14px;
          cursor: pointer;
          text-indent: -99999px;
          padding: 0;
          border: 3px solid rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          background: none; }
        .jumbotron ul .slick-dots > li.slick-active button {
          border-color: #fff;
          background-color: #fff; }
  .jumbotron > .btn-scroll {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 99;
    width: 100%;
    text-align: center; }
    .jumbotron > .btn-scroll .btn {
      position: relative;
      top: -20px;
      display: inline-block;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .jumbotron > .btn-scroll .btn img {
        width: 20px; }
      .jumbotron > .btn-scroll .btn.on {
        top: 0; }
  @media (min-width: 768px) {
    .jumbotron ul .slick-slide {
      padding: 150px 0 120px; }
      .jumbotron ul .slick-slide .product-info .details small {
        font-size: 22px; }
      .jumbotron ul .slick-slide .product-info .details h4 {
        font-size: 62px; }
    .jumbotron ul .slick-dots {
      bottom: 130px; }
    .jumbotron > .btn-scroll {
      bottom: 40px; }
      .jumbotron > .btn-scroll .btn img {
        width: 31px; } }
  @media (min-width: 992px) {
    .jumbotron {
      height: 100%; }
      .jumbotron .slick-slider {
        height: 100%; }
      .jumbotron .slick-list {
        height: 100%; }
      .jumbotron .slick-track {
        height: 100%; }
      .jumbotron ul .slick-slide {
        position: relative;
        height: 100%;
        min-height: 800px;
        padding: 180px 0 130px; }
        .jumbotron ul .slick-slide .product-info .details {
          vertical-align: middle; }
          .jumbotron ul .slick-slide .product-info .details h4 {
            display: inline-block;
            margin: 0 auto; }
          .jumbotron ul .slick-slide .product-info .details .btn-area {
            position: relative;
            display: inline-block;
            margin: 0 -160px 0 30px; }
            .jumbotron ul .slick-slide .product-info .details .btn-area .btn-more {
              position: relative;
              top: -14px; }
          .jumbotron ul .slick-slide .product-info .details figure {
            background-image: url(/assets/images/main/bg_figure_xl.png);
            background-size: 955px auto; }
            .jumbotron ul .slick-slide .product-info .details figure .img-fluid {
              width: auto; } }

.introduction {
  padding-top: 40px; }
  .introduction .section-header {
    text-align: center; }
    .introduction .section-header h4 {
      font-size: 20px;
      color: #29303b;
      font-weight: 600;
      font-family: 'Noto Serif KR', sans-serif; }
      .introduction .section-header h4 small {
        font-size: 14px;
        font-weight: 300;
        display: block;
        margin-bottom: 5px;
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -.5px; }
    .introduction .section-header p {
      font-size: 13px;
      color: #666;
      font-weight: 300;
      line-height: 16px;
      margin-top: 10px;
      word-break: keep-all;
      letter-spacing: -.5px; }
    .introduction .section-header .btn-area {
      margin-top: 20px; }
      .introduction .section-header .btn-area .btn-more {
        font-weight: 400;
        letter-spacing: -.5px;
        color: #3e6dc2;
        border-bottom: 2px solid #3e6dc2;
        border-color: #3e6dc2; }
        .introduction .section-header .btn-area .btn-more:after {
          bottom: 3px;
          right: -1px;
          height: 2px;
          background-color: #3e6dc2; }
  .introduction .section-content {
    margin-top: 20px; }
    .introduction .section-content figure {
      padding: 0 10%; }
  @media (min-width: 768px) {
    .introduction {
      padding-top: 60px; }
      .introduction .section-header h4 {
        font-size: 35px; }
        .introduction .section-header h4 small {
          font-size: 23px;
          margin-bottom: 10px; }
      .introduction .section-header p {
        font-size: 17px;
        line-height: 28px;
        margin-top: 10px; }
      .introduction .section-header .btn-area {
        margin-top: 30px; }
      .introduction .section-content figure {
        padding: 0; }
        .introduction .section-content figure .img-fluid {
          display: block;
          margin: 0 auto; } }
  @media (min-width: 992px) {
    .introduction {
      padding-top: 90px; }
      .introduction .section-header h4 {
        font-size: 43px; } }
  @media (min-width: 1230px) {
    .introduction {
      overflow: hidden; }
      .introduction .section-header {
        float: left;
        width: 70%;
        display: inline-block;
        text-align: left;
        padding: 100px;
        border: 2px solid #29303b; }
        .introduction .section-header h4 small {
          margin-bottom: 20px; }
        .introduction .section-header p {
          margin-top: 20px; }
      .introduction .section-content {
        position: relative;
        float: right;
        width: 60%;
        margin-top: -260px; }
        .introduction .section-content figure .img-fluid {
          margin: 0; } }

.product-list {
  padding-top: 60px;
  padding-bottom: 60px; }
  .product-list .section-content {
    position: relative;
    text-align: center; }
    .product-list .section-content h4 {
      font-size: 20px;
      color: #29303b;
      font-weight: 600;
      font-family: 'Noto Serif KR', sans-serif; }
      .product-list .section-content h4 small {
        font-size: 14px;
        font-weight: 300;
        display: block;
        margin-bottom: 5px; }
    .product-list .section-content .summary {
      font-size: 13px;
      color: #666;
      font-weight: 300;
      line-height: 16px;
      margin-top: 10px;
      word-break: keep-all;
      letter-spacing: -.5px; }
    .product-list .section-content .product-slide {
      margin: 30px -4px 0; }
      .product-list .section-content .product-slide .slick-slide {
        height: auto;
        outline: none;
        margin: 0 8px; }
        .product-list .section-content .product-slide .slick-slide a {
          position: relative;
          display: block;
          border: 1px solid #ddd;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          /*&:after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              opacity: 0;
              @include transition();
              border: 4px solid #3e6dc2;
          }*/ }
          .product-list .section-content .product-slide .slick-slide a:hover {
            /*&:after {
                opacity: 1;
            }*/
            border: 4px solid #3e6dc2; }
            .product-list .section-content .product-slide .slick-slide a:hover figure figcaption h4 {
              color: #3e6dc2; }
        .product-list .section-content .product-slide .slick-slide figure .img-fluid {
          width: 100%; }
        .product-list .section-content .product-slide .slick-slide figure figcaption {
          text-align: left;
          padding: 0 10px 15px; }
          .product-list .section-content .product-slide .slick-slide figure figcaption h4 {
            font-size: 13px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
            font-family: 'Noto Sans KR', sans-serif;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .product-list .section-content .product-slide .slick-slide figure figcaption dl {
            overflow: hidden; }
            .product-list .section-content .product-slide .slick-slide figure figcaption dl dt {
              font-size: 11px;
              color: #888;
              font-weight: 400;
              float: left;
              clear: both;
              letter-spacing: -.5px; }
              .product-list .section-content .product-slide .slick-slide figure figcaption dl dt:after {
                font-family: "fontello";
                content: "\E806";
                margin: 0 5px; }
            .product-list .section-content .product-slide .slick-slide figure figcaption dl dd {
              font-size: 11px;
              color: #888;
              font-weight: 400;
              float: left;
              letter-spacing: -.5px; }
      .product-list .section-content .product-slide .btn-slick {
        position: absolute;
        top: -76px; }
        .product-list .section-content .product-slide .btn-slick.btn-prev {
          left: 0; }
        .product-list .section-content .product-slide .btn-slick.btn-next {
          right: 0; }
        .product-list .section-content .product-slide .btn-slick .btn-controls {
          outline: none;
          position: relative;
          z-index: 2;
          font-size: 16px;
          color: #a9acb1;
          cursor: pointer;
          border: 0;
          padding: 0;
          background: none;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .product-list .section-content .product-slide .btn-slick .btn-controls:hover {
            color: #294382; }
  @media (min-width: 768px) {
    .product-list {
      padding-top: 60px; }
      .product-list .section-content h4 {
        font-size: 35px; }
        .product-list .section-content h4 small {
          font-size: 26px;
          margin-bottom: 10px; }
      .product-list .section-content .summary {
        font-size: 17px;
        margin-top: 10px; }
      .product-list .section-content .product-list {
        margin-top: 50px; } }
  @media (min-width: 992px) {
    .product-list .section-content .product-slide .slick-slide figure figcaption .more {
      overflow: hidden;
      width: 53px;
      padding: 4px 8px 8px 14px;
      margin-top: 10px;
      background-color: #3e6dc2; }
      .product-list .section-content .product-slide .slick-slide figure figcaption .more img {
        float: right; } }
  @media (min-width: 1230px) {
    .product-list {
      padding-bottom: 90px; }
      .product-list .section-content .product-slide .slick-slide figure figcaption {
        text-align: left;
        padding: 0 30px 30px; }
        .product-list .section-content .product-slide .slick-slide figure figcaption h4 {
          font-size: 20px;
          margin-bottom: 10px; }
        .product-list .section-content .product-slide .slick-slide figure figcaption dl dt {
          font-size: 14px; }
          .product-list .section-content .product-slide .slick-slide figure figcaption dl dt:after {
            margin: 0 10px; }
        .product-list .section-content .product-slide .slick-slide figure figcaption dl dd {
          font-size: 14px; }
        .product-list .section-content .product-slide .slick-slide figure figcaption .more {
          padding: 6px 8px 8px 24px;
          margin-top: 20px; }
      .product-list .section-content .product-slide .btn-slick {
        position: absolute;
        top: 50%; }
        .product-list .section-content .product-slide .btn-slick.btn-prev {
          left: -80px; }
        .product-list .section-content .product-slide .btn-slick.btn-next {
          right: -80px; }
        .product-list .section-content .product-slide .btn-slick .btn-controls {
          font-size: 35px; } }

.news-list {
  border-top: 1px solid #f2f2f2; }
  .news-list dl {
    padding: 20px 0;
    overflow: hidden;
    background-image: url(/assets/images/main/bg_news_list.png);
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: 100% 100%; }
    .news-list dl dt {
      float: left;
      padding-right: 10px;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      line-height: 22px; }
    .news-list dl dd {
      display: block;
      font-size: 12px;
      line-height: 22px; }
      .news-list dl dd > a.news-title {
        display: block;
        overflow: hidden;
        font-weight: 400;
        color: #666;
        white-space: nowrap;
        padding-right: 10px;
        text-overflow: ellipsis; }
        .news-list dl dd > a.news-title .date {
          display: inline-block;
          font-size: 11px;
          color: #888;
          font-weight: 300;
          margin-right: 5px; }
  @media (min-width: 768px) {
    .news-list {
      border-top: 0;
      padding: 40px 0;
      background-color: #f2f2f2; }
      .news-list dl {
        background-size: auto 40%;
        background-position: 70% 100%;
        background-color: #fff; }
        .news-list dl dt {
          font-size: 23px;
          font-weight: 300;
          letter-spacing: -.5px;
          line-height: 34px;
          padding: 0 40px 0 20px; }
        .news-list dl dd {
          position: relative;
          padding-right: 150px;
          line-height: 34px; }
          .news-list dl dd > a.news-title {
            font-size: 15px;
            letter-spacing: -.5px; }
            .news-list dl dd > a.news-title .date {
              font-size: 14px;
              letter-spacing: 0; }
          .news-list dl dd > a.more {
            position: absolute;
            top: 0;
            right: 20px;
            line-height: 34px;
            font-size: 14px;
            color: #3e6dc2;
            letter-spacing: -.5px; }
            .news-list dl dd > a.more .icon-more {
              position: relative;
              top: 4px;
              display: inline-block;
              width: 53px;
              height: 20px;
              margin-left: 10px;
              background-color: #3e6dc2;
              background-image: url(/assets/images/main/bg_btn_more.jpg);
              background-size: auto auto;
              background-repeat: no-repeat;
              background-position: 22px 50%; } }
  @media (min-width: 992px) {
    .news-list {
      padding: 60px 0;
      background-size: auto 45%;
      background-position: 75% 100%; }
      .news-list dl {
        padding: 30px 0; }
        .news-list dl dt {
          padding: 0 60px 0 40px; }
        .news-list dl dd {
          padding-right: 180px; }
          .news-list dl dd > a.more {
            right: 40px; } }

.quick-menu {
  padding: 30px 8.66% 40px;
  background-color: #f2f2f2; }
  .quick-menu ul > li > a {
    display: block;
    text-align: center; }
    .quick-menu ul > li > a .quick-icon {
      position: relative;
      display: block;
      width: 60px;
      height: 60px;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto;
      border: 1px solid #bfcce5;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 60% auto; }
      .quick-menu ul > li > a .quick-icon:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #3e6dc2;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
    .quick-menu ul > li > a > .details h5 {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      letter-spacing: -.5px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .quick-menu ul > li > a > .details p {
      display: none;
      letter-spacing: -.5px; }
    .quick-menu ul > li > a > .details .quick-link {
      position: relative;
      display: none;
      padding-bottom: 5px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .quick-menu ul > li > a > .details .quick-link:after {
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        content: "";
        border-bottom: 2px solid #3e6dc2;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
    .quick-menu ul > li > a:hover .quick-icon:after {
      opacity: 1; }
    .quick-menu ul > li > a:hover > .details h5 {
      color: #3e6dc2; }
    .quick-menu ul > li > a:hover > .details .quick-link {
      color: #3e6dc2; }
      .quick-menu ul > li > a:hover > .details .quick-link:after {
        width: 100%;
        margin-left: -50%; }
  .quick-menu ul > li:nth-of-type(1) > a .quick-icon {
    background-image: url(/assets/images/main/icon_quick01.png); }
  .quick-menu ul > li:nth-of-type(2) > a .quick-icon {
    background-size: 65% auto;
    background-image: url(/assets/images/main/icon_quick02.png); }
    @media (min-width: 1230px) {
      .quick-menu ul > li:nth-of-type(2) > a .quick-icon {
        background-size: auto auto; } }
  .quick-menu ul > li:nth-of-type(3) > a .quick-icon {
    background-image: url(/assets/images/main/icon_quick03.png); }
  @media (min-width: 768px) {
    .quick-menu {
      text-align: center;
      padding: 0 0 60px; }
      .quick-menu ul > li > a {
        display: inline-block; }
        .quick-menu ul > li > a .quick-icon {
          width: 120px;
          height: 120px;
          background-size: 50% auto; }
        .quick-menu ul > li > a > .details h5 {
          font-size: 18px;
          margin-top: 15px; } }
  @media (min-width: 1230px) {
    .quick-menu {
      padding-bottom: 80px;
      text-align: left; }
      .quick-menu ul > li > a {
        display: block;
        overflow: hidden; }
        .quick-menu ul > li > a .quick-icon {
          float: left;
          width: 140px;
          height: 140px;
          background-size: auto auto;
          /*line-height: 138px;
          .img-fluid {
              transform: none;
              -ms-transform: none;
              -webkit-transform: none;
          }*/ }
        .quick-menu ul > li > a > .details {
          float: left;
          padding-top: 15px;
          padding-left: 35px;
          text-align: left; }
          .quick-menu ul > li > a > .details h5 {
            font-size: 23px;
            margin-top: 0; }
          .quick-menu ul > li > a > .details p {
            display: block;
            font-size: 15px;
            color: #888;
            line-height: 22px;
            margin-top: 15px; }
          .quick-menu ul > li > a > .details .quick-link {
            display: inline-block;
            font-size: 14px;
            color: #999;
            letter-spacing: -.5px;
            margin-top: 20px; } }

.quick-top .btn {
  padding: 6px 0; }

.pro_in a:hover > h5 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/*# sourceMappingURL=main.css.map */
